<section class="sidebar">
    <ul class="sidebar-menu">
        @Html.ESMenu((List<IB2B.Localizacion.BE.BE.MenuBE>)Session[IB2B.Localizacion.BE.BE.Constantes.GrupoLocalizacion.Menu])
    </ul>
</section>
