  .modal-lg {
    width: 1000px !important;
  }

.modal-header-primary {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #428bca;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
     border-top-left-radius: 15px;
     border-top-right-radius: 15px;
}
.modal-backdrop {
    z-index: 0;
}
.fileUpload {
    position: relative;
    overflow: hidden;
}

.fileUpload input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
}

.panel-box-shadow {
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 6px 6px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 6px 6px 7px 0px rgba(0,0,0,0.75);
}

.loading_page{
    position:fixed ;
    width:350px; /*image width */
    left:38%; 
    top:80%;
    /*margin-left:-296px;*/ /*image width/2 */
    margin-top:-256px; /*image height/2 */
    border: 1px solid rgb(4, 4, 4);
    border-radius: 4px;
    background-color: white;
}

.modal-backgroup-ajax {
  z-index: 2040 !important;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: black;
}
.modal-backgroup-ajax.in {
    filter: alpha(opacity=50);
    opacity: .5;
}

.todo-list {
    list-style: none outside none;
    margin: 0;
    font-size: 14px;
}
.todo-list.small-list {
    font-size: 12px;
}
.todo-list.small-list > li {
    background: #e7eaec;
    border-left: none;
    border-right: none;
    border-radius: 4px;
    color: red;
    margin-bottom: 2px;
    padding: 6px 6px 6px 20px;
}
.todo-list.small-list .btn-xs,
.todo-list.small-list .btn-group-xs > .btn {
    border-radius: 5px;
    font-size: 10px;
    line-height: 1.5;
    padding: 1px 2px 1px 5px;
}
.todo-list > li {
    background: #f3f3f4;
    border-left: 3px solid #e01d2f;
    border-right: 6px solid #e7eaec;
    border-radius: 4px;
    color: inherit;
    margin-bottom: 3px;
    padding-bottom:2px;
}
.todo-list .handle {
    cursor: move;
    display: inline-block;
    font-size: 16px;
    margin: 0 5px;
}
.todo-list > li .label {
    font-size: 9px;
    margin-left: 10px;
}

.Pendiente {
    background-color: #ecba03;
    border-color: #101010 !important;
    color: #101010 !important;
    background-position: 1px 1px;
    background-repeat: no-repeat;
    background-image: url('../Imagen/Estados/Pendiente.png');
    padding-left: 20px;
}

.Confirmado {
    background-color: #02773b;
    border-color: #060606 !important;
    color: White !important; /* text color */
    background-position: 1px 1px;
    background-repeat: no-repeat;
    background-image: url('../Imagen/Estados/Confirmado.png');
    padding-left: 20px;
}

.Realizado {
    background-color: #3d0784;
    border-color: #060606 !important;
    color: White !important; /* text color */
    background-position: 1px 1px;
    background-repeat: no-repeat;
    background-image: url('../Imagen/Estados/Realizado.png');
    padding-left: 20px;
}

.disableddiv {
    pointer-events: none;
    opacity: 0.4;
    background-color: #eeeeee;
}